# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
env/
venv/
.venv/
*.env

# Archivos de datos y modelos
datos_entrenamiento.json
modelo_final.cbm
catboost_info/
features_embeddings.csv
modelo_deteccion_falla.cbm
modelo_clasificacion_falla.cbm
label_encoding.json

# Archivos temporales o de logs
*.log
*.tmp

# Carpeta de cache de Sentence Transformers / HuggingFace
.cache/